@import "tailwindCSS"
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:#1A0B2E ;
}

.navbar{
    max-width: 1200px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 24px 0px;
    background-color: #1A0B2E;
}
.navbar .nav-title{
   font-weight: bold;
   font-size: 1.6rem;
    
}



.navbar .nav-menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.navbar button{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 10000px;
    padding:12px 16px;
}

.navbar .hamburger{
    color: #FFFFFF;
   
    margin-right: 50px;
}


















@media screen and (max-width:576px){
    .nav-menu{
        display: none;
    }

    .navbar button{
        display: none;
    }




}

@media screen and (min-width:576px) and (max-width:992px){
    .navbar .hamburger{
        display: none;
    }
    .navbar button{
        margin-right:20px ;
    }
}


@media screen and (min-width:992px){
    .navbar .hamburger{
        display: none;
    }
}