@import "tailwindCSS"
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: #FFFFFF;
}
nav{
    background-color:#1A0B2E ;
}

.navbar{
    max-width: 1200px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 24px 0px;
    background-color: #1A0B2E;
    border-bottom: 1px solid  rgba(240, 248, 255, 0.096);
    
}
.navbar .nav-title{
   font-weight: bold;
   font-size: 1.6rem;
    
}



.navbar .nav-menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.navbar button{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 10000px;
    padding:12px 16px;
    cursor: pointer;
}

.navbar .hamburger{
    color: #FFFFFF;
   
    margin-right: 50px;
}



#hero{
    
    background-color: #1A0B2E;

   
   
     
    
}
#hero .hero-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px 0px;
      background-image: url(../assets/hero-bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      
      
     
}

#hero .hero-image{
    position: relative;
    width: 350px;
    max-width: 350px;
    
}
#hero .hero-image .circle{
 width: 100%;


 height: auto;
 display: block;
}

#hero .hero-container .microphone{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 116px;
}

.hero-image .badge {
  position: absolute;
  top: 30px;
  right: 14px;
  background: #4dff88;
  color: #000;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

#hero .hero-content{
    text-align: center;
}
    


#hero .hero-content h1{
    font-size: 3.75rem;
    font-weight: bolder;
    margin-bottom: 8px;
}

#hero .hero-content p{
    font-size: 1rem;
    margin-bottom: 24px;
}

#hero .hero-content button{
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 10000px;
    padding:12px 16px;
    cursor: pointer;
    margin-right: 6px;
}

#hero .hero-content .subscribe{
      background-color:transparent;
    color:#00FF88;
    font-size: 16px;
    font-weight: 500px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
     padding:12px 16px;
     cursor: pointer;
}

#about{
    background-color:#1A0B2E ;
}

#about .about-container{
    padding: 50px 0px 120px 0px;
    max-width: 1200px;
   
    margin: 0 auto;
}

#about .about-container .about-content{
    text-align: center;
}

.about-content h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-content p{
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 80px;
   
}

hr{
    color: rgba(240, 248, 255, 0.096);
    margin-bottom: 80px;
}

.about-review{
    display:flex;
    
    justify-content: space-around;
    align-items: center;
}

.about-review .about-card h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 600;

}

.about-review .about-card  p{
    font-size: 1rem;
}


#choose{
    background-color: #230E3D;
}
 #choose .choose-container{
    max-width: 1200px;
    
    margin: 0 auto;
    padding: 120px 0;
    
 }

 .choose-container .title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 36px;
 }

.card-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(140px, auto);
  gap: 30px;
}

.card {
  background: #351165;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
}

.card img {
  width: 40px;
  margin-bottom: 16px;
}

.card h3 {
   font-size: 1.6rem;
   font: bold;
  margin-bottom: 16px;
}

.card p{
    font-size: 1rem;
    font-weight: 200;
    line-height: 24px;
}


.headphone {
  grid-column: span 2;
  grid-row: span 4;
}

.device {
  grid-column: span 4;
  grid-row: span 2;
}

.location {
  grid-column: span 4;
  grid-row: span 2;
}

.flash {
  grid-column: span 4;
  grid-row: span 2;
}

.resource {
  grid-column: span 2;
  grid-row: span 2;
}

#feature{
    background-color: #1A0B2E;
}

#feature .feature-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
    
}
#feature .feature-container .feature-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 46px;

}

.feature-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.feature-card .video-card{
    max-width: 380px;
    background-color: #250D44;
    border-radius: 20px;
    

}

.feature-card .video-card iframe{
    max-width: 380px;
    height: 214px;
    margin-bottom: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.feature-card .video-card h3{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 0 24px;
}

.feature-card .video-card  p{
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 12px;
    padding: 0 24px;
}
.feature-card .video-card  h4{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 24px;
    padding: 0 24px;
    
}
#alex{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.alex-container{
    max-width: 1200px;
    margin: 0 auto ;
    

}
.alex-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
}
.alex-kumar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35116551;
    gap: 24px;
    padding-bottom: 60px;
     border: none;
    border-radius: 40px;
   
}

.alex-pic{
    max-width: 200px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.alex-content{
    max-width: 896px;
}

.alex-content h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.alex-content p{
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 16px;
}
.alex-logo{
    display: flex;
    gap:8px;
  
}

.alex-logo img{
      border: 1px solid whitesmoke;
    border-radius: 50%;
    max-width: 50px;
    padding: 12px;
}

#copyright{
    background-color: #1A0B2E;
    padding: 120px 0px;
    background: url(../assets/footer-bg.png);
     background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}
.copyright-container{
    max-width: 1360px;
    margin: 0 auto;
   
}

.copyright-container h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 34px;
}

.social{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 34px;
}

.social .social-logo{
    display: flex;
    gap: 10px;
}

 .small{
   text-align: center;
   font-size: 1rem;
   color: #FAFAFA;
 }

 















@media screen and (max-width:576px){
    .nav-menu{
        display: none;
    }

    .navbar button{
        display: none;
    }

  #hero .hero-container {
    background-size: cover;
   
    padding: 80px 20px;
  }

  .about-review{
    flex-wrap: wrap;
    gap: 50px;

  }
.card-div {
    grid-template-columns: 1fr;
  }

  .card {
    grid-column: span 1 !important;
    grid-row: auto !important;
  }
.feature-card{
    flex-direction: column;
}

.alex-kumar{
    flex-direction: column;
}

.alex-kumar .alex-content{
    text-align: center;
}

.alex-kumar .alex-logo{
    justify-content: center;
}

.social{
    flex-direction: column;
    
    align-items: center;
}




}

@media screen and (min-width:576px) and (max-width:992px){
    .navbar .hamburger{
        display: none;
    }
    .navbar button{
        margin-right:20px ;
        
    }

    .about-review{
    flex-wrap: wrap;
    gap: 50px;

  }
  .card-div {
    grid-template-columns: 1fr;
  }

  .card {
    grid-column: span 1 !important;
    grid-row: auto !important;
  }
  .feature-card{
    flex-wrap: wrap;
  }
}


@media screen and (min-width:992px){
    .navbar .hamburger{
        display: none;
    }
}